.navbar {
  width: 100%;
  margin: 0;
}

.leftSide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navItem {
  margin: 0 1rem;

  img {
    width: 8.5rem;
  }

  &:hover {
    opacity: 0.5;
  }
}

.navButton {
  background-color: #56a6f3;
  background-image: linear-gradient(to right, #56a6f3, #3d8bea);
  padding: 0.4rem 0.8rem;
  color: white;
  font-weight: bold;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  margin-left: 1rem;
  box-shadow: 1.25px 1.25px 1px #888888;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.btn-outline-light {
  color: #707070;
}

@media screen and (max-width: 720px) {
  .rightSide {
    justify-content: center;
  }

  .leftSide {
    justify-content: center;
  }
}
